@import 'styles/shared';

.article {
  @include centeredBlock;
}

.headerImage {
  height: min($size-max-content-width * 0.5, calc(50vw - grid-units(1)));
  width: min($size-max-content-width, calc(100vw - grid-units(2)));
  position: relative;
  margin-bottom: grid-units(1);
  box-shadow: 0 0 grid-units(1) rgba(0 0 0 / 0.2);
  @include printHide;
}

.header {
  margin-bottom: grid-units(0.5);

  h2 {
    @include font-size(28px);
    font-weight: bold;
  }

  .backLink {
    @include font-size(14px);
    @include printHide;

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.stats {
  @include font-size(14px);
  margin-bottom: grid-units(1);

  table {
    width: 100%;
  }

  th {
    font-weight: bold;
    text-align: left;
    padding-right: grid-units(0.5);
    white-space: nowrap;
    width: 1px;
  }

  th, td {
    padding: 0 grid-units(0.25);
    border-bottom: 1px solid $color-border;
  }

  tr:first-child {
    border-top: 1px solid $color-border;
  }
}

.intro {
  p {
    margin-bottom: grid-units(1);
  }

  ul {
    margin-bottom: grid-units(1);
    list-style-type: disc;
    margin-left: grid-units(1);
  }
}

.mainContent {
  display: flex;
  border-top: 1px $color-border solid;
  padding-top: grid-units(1);
}

.requirements {
  flex: 0 0 33%;
  margin-right: grid-units(1);

  h3 {
    font-weight: bold;
    margin-bottom: grid-units(0.5);
  }

  h4 {
    font-style: italic;
  }

  .equipment {
    margin-bottom: grid-units(1);
  }
  ul {
    list-style-type: disc;
    margin-left: grid-units(1.25);
  }
  .group {
    margin-bottom: grid-units(0.5);
  }
  .quantity {
    font-weight: bold;
    margin-right: grid-units(0.25);
  }
}

.directions {
  flex: 1 1 66%;

  h3 {
    font-weight: bold;
    margin-bottom: grid-units(0.5);
  }

  ol {
    margin-left: grid-units(1);
    list-style-type: decimal;
  }

  li {
    margin-bottom: grid-units(0.5);
  }
}

@include breakpoints(small) {
  .mainContent {
    display: block;
  }

  .ingredients,
  .directions {
    padding-top: grid-units(1);
    margin-top: grid-units(1);
    border-top: 1px $color-border solid;
  }
}
