@import 'styles/shared';

.article {
  max-width: $size-max-content-width;
  margin: 0 auto;
}

.header {
  h2 {
    @include font-size(28px);
    font-weight: bold;
  }
  .breadcrumbs {
    @include font-size(14px);
    a {
      color: $color-primary;
      &:hover {
        text-decoration: underline;
      }
    }
    .sep {
      margin: 0 grid-units(0.25);
    }
  }
}

.stats {
  margin: grid-units(1) 0;
  li {
    display: inline-block;
  }
  .label {
    font-weight: bold;
    margin-right: grid-units(0.25);
  }
  .value {
    margin-right: grid-units(1);
  }
}

.intro {
  border-top: 1px $color-border solid;
  padding-top: grid-units(1);
  p {
    margin-bottom: grid-units(1);
  }
  ul {
    margin-bottom: grid-units(1);
    list-style-type: disc;
    margin-left: grid-units(1);
  }
}

.mainContent {
  display: flex;
  border-top: 1px $color-border solid;
  padding-top: grid-units(1);
}

.requirements {
  flex: 0 0 33%;
  margin-right: grid-units(1);
  h3 {
    font-weight: bold;
    margin-bottom: grid-units(0.5);
  }
  h4 {
    font-style: italic;
  }
  .equipment {
    margin-bottom: grid-units(1);
  }
  ul {
    list-style-type: disc;
    margin-left: grid-units(1.5);
  }
  .group {
    margin-bottom: grid-units(0.5);
  }
  .quantity {
    font-weight: bold;
    margin-right: grid-units(0.25);
  }
}

.directions {
  flex: 0 0 66%;
  h3 {
    font-weight: bold;
    margin-bottom: grid-units(0.5);
  }
  ol {
    margin-left: grid-units(1);
    list-style-type: decimal;
  }
  li {
    margin-bottom: grid-units(0.5);
  }
}
