@import 'styles/shared';

.content {
  @include centeredBlock;
  padding: grid-units(1.5) grid-units(1);
  @include breakpoints(small) {
    padding: grid-units(1) grid-units(0.5);
  }

  .header {
    @include font-size(28px, 1);
    margin-bottom: grid-units(1);
  }

  p {
    margin-bottom: grid-units(1);
  }
}
