@import 'styles/shared';

.intro {
  margin-bottom: grid-units(1);
  border-bottom: 1px $color-lighter-grey solid;
  background: $color-lightest-grey;

  header {
    @include font-size(28px, 1);
    margin-bottom: grid-units(1);
  }

  .introText {
    @include centeredBlock;
    padding: grid-units(1.5) grid-units(1);
    @include breakpoints(small) {
      padding: grid-units(1) grid-units(0.5);
    }
  }
}

.categories {
  @include centeredBlock;
  padding: 0 grid-units(1) grid-units(1);
  @include breakpoints(small) {
    padding: 0 grid-units(0.5) grid-units(1);
  }
  display: flex;
  flex-wrap: wrap;
  gap: grid-units(1);

  h3 {
    font-weight: bold;
    @include font-size(24px);
  }

  .category {
    flex: 1 0 30%;
    min-width: 300px;
    .header {
      border-bottom: 1px $color-border solid;
    }
  }

  .recipes {
    margin-top: grid-units(0.5);
  }
}
