@import 'styles/shared';
@import '~reset.css';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: $color-background;
  color: $color-foreground;
  font-family: $font-family;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $base-line-height;
  @include print {
    width: 21cm;
    background: white;
    color: black;
  }
}

a {
  color: $color-link;
  text-decoration: underline;
  &:hover {
    filter: brightness(1.2);
  }
}

strong {
  font-weight: 500;
}

h2 {
  font-weight: 300;
}

* {
  box-sizing: border-box;
}
